# =========================
# DATA (never upload)
# =========================
data/fastq/
data/fastq_real/
data/reference/
data/annotation/

# =========================
# RESULTS
# =========================
results/

# =========================
# LOGS
# =========================
logs/

# =========================
# SNAKEMAKE FILES
# =========================
.snakemake/

# =========================
# CONDA / ENVIRONMENTS
# =========================
conda/
.env
*.conda

# =========================
# TEMP / SYSTEM FILES
# =========================
*.tmp
*.log
.DS_Store

# =========================
# EDITOR / OS
# =========================
.vscode/
.idea/
